<h1>STUPID COACH ANSWER</h1>

<div class="container">
  <p><%= @question %></p>
  <p><em>- You</em></p>
</div>


<div class="container answer">
  <p>
    <%= @answer %>
  </p>
  <p><em>- The Coach</em></p>
</div>


<%= link_to "Go back to ask the coach", ask_path %>
